@font-face {
    font-family: rollandinemilie;
    src: url(../../assets/fonts/rollandinemilie.regular.ttf);
}

.houseTitle{
    font-family: rollandinemilie;
    background: #ebebeb;
    border-radius: 10px;
    /* color: #fff; */
    font-size: 3em;
    text-align: center;
}

.contenedor-detalles .img_tabla {
    display: flex;
}

.contenedor-detalles .contenedor-img img {
    width: 30vw !important;
}

.contenedor-detalles .contenedor_tabla {
    display: flex;
}


.contenedor-detalles .conetenedor-datos {
    padding: 1vw 0vw 2vw;
    width: 31vw;
    display: flex;
}

.contenedor-detalles .contenedor_precio,.contenedor-detalles .contenedor_habitable,.contenedor-detalles .contenedor_terreno {
    margin: 0vw 0vw 0vw 1vw;
}

.contenedor-detalles .tabla_datos {
    margin-left: 3vw;
}

.contenedor-detalles td.titulo_tabla {
    padding: 1vw;
}

.contenedor-detalles table.tabla_detalles {
    width: 20vw;
}

.contenedor-detalles td.descrp_tabla {
    text-align: center;
    border: 1px solid;
}

.contenedor-detalles td.titulo_tabla {
    border: 1px solid;
}

.contenedor-detalles .card {
     border: none !important
}

.contenedor-detalles {
    padding: 3vw;
}

.contenedor-detalles h4.card-title {
    color: #718096;
}

.contenedor-detalles .text-light {
    padding: 1vw;
    color: #718096;
} 

.pagination ul{
    display: flex;
    list-style: none;
}

.pagination ul li{
    margin-left: 20px;
}
ul.list {
    padding-left: 0px;
    margin-bottom: 0px;
}
.list li {
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.list h3 {
    font-size: 1.2rem;
}
.card .content img{
    width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.list-content{
    text-align: left;
    list-style: none;
}
.list-content h3{
    font-size: 1rem;
    color: #0c7cdd;
    padding: 20px 0px 0px 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    display: flex;
}

.list-content span{
    padding-left: 10px;
    display: flex;
    font-weight: 900;
}

.footer ul {
display: flex;
list-style: none;
width: 100%;
padding: 10px;
}

.footer li {
padding: 10px;
width: 100%;
text-align: center;
border: 1px solid #4e84d5;
cursor: pointer;
}

.footer li:hover,.footer li.active {
background: #4e84d5;
color: #fff;
}

.list-content img{
    background: transparent !important;
    width: 100px !important;
    float: left;
}

.list-content li{
    display: flow-root;
}

.list-complete h3 {
    padding-top: 0px !important;
}

.list-complete span {
    font-weight: normal !important;
    color: #000;
    display: contents;
}

.list-complete li {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
}

.barraCronologica{
    width: 100%;
    height: 24px;
    background-color: #aaa;
}

.firstLabel {
    position: absolute;
    margin-top: -35px;
    font-size: 13px;
    margin-left: -20px;
    left: 30px;
}

.firstLabel:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid #4e84d5;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 12px solid transparent;
}

.endLabel {
    margin-top: -35px;
    position: absolute;
    text-align: right;
    right: -30px;
    padding-right: 40px;
    font-size: 13px;
}

.endLabel:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid #4e84d5;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 20px;
    right: 30px;
    border-left: 12px solid transparent;
}

.dynamicLabel {
    position: absolute;
    padding-left: 5%;
    color: #3c992d;
    margin-left: 0px;
}